@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	padding: 0;
	margin: 0;
	border: 0;
}
.container_left{
	display: flex;
	flex-wrap: wrap;

	justify-content: flex-start;
}

.container_right{
	display: flex;
	flex-wrap: wrap;

	justify-content: flex-end;
}

.container_center{
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
}

.title{
    font-size:100%;
    letter-spacing:1px;

    line-height: 1.6875;
    font-family: 'Open Sans', sans-serif;
}
.subtitle{
	font-size:90%;
    letter-spacing:1px;

    line-height: 1.6875;
    font-family: 'Open Sans', sans-serif;
}
.text{
	font-size: 80%;
	letter-spacing: 1px;

	line-height: 1.6875;
	font-family: 'Open Sans', sans-serif;
}
.subText{
    font-size: 70%;
    letter-spacing: 1px;

    line-height: 1.6875;
    font-family: 'Open Sans', sans-serif;
}

.clamp{
	padding: 0;
    margin: 0;
    border: 0;
}

.frame_sm{
    padding: 5px 5px;
}

.frame_md{
    padding: 15px 15px;
}

.frame_lg{
	padding: 25px 25px;
}

/* Resize text as screen is resized */
@media only screen and (min-width:300px) and (max-width:400px){
    .title{font-size:60%;}
    .subtitle{font-size: 50%;}
    .text{font-size: 40%;}
    .subtext{font-size: 30%;}
}
@media only screen and (min-width:401px) and (max-width:800px){
    .title{font-size:70%;}
    .subtitle{font-size: 60%;}
    .text{font-size: 50%;}
    .subtext{font-size: 40%;}
}
@media only screen and (min-width:801px) {
    .title{font-size:90%;}
    .subtitle{font-size: 80%;}
    .text{font-size: 70%;}
    .subtext{font-size: 60%;}
    /*.wrap{max-width:770px;}*/
}

html, body{
    font-size: 100%;
    line-height: 1.6875;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.f_left{
	float: left;
}
.f_right{
	float: right;
}

.main_wrapper{
    top: 50px;
}

.col{
    display: none;
    background-color: pink;
}

.c{
    display: none;
}
.card{
    border-radius: 0px;
    margin-bottom: 20px;
}

.card_profile_image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card_profile_info{
    position: relative;
    left: 25px;
}

.nav_bar{
    position: fixed;
    background-color: white;

    z-index: 1;
}
.logo_text{
    height: inherit;
}
.t{
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
}
.t a{
    color: rgb(50, 50, 50);

    text-decoration: none;
}
.t a:hover{
    text-decoration: underline;
}

.links{
    height: inherit;
}
.links img{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.download_save{
    display: none;
    position: absolute;
    top:5px;
}

.source_more{
    display: none;
    color: white;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to top, rgba(50, 50, 50, .9), rgba(255, 255, 255, .0));
}

.save_text{
    width: 60%; 
    text-align: center;
    background-color: red;
    color:white;
    padding: 4% 4%;
    border-radius: 15%;
}